<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="section" id="Historia">
        <h1>Historia </h1>
        </div>
        
        <div class="section" id="Poblacion">
        <h1>Poblacion</h1>
        </div>
        
        <div class="section" id="Flora">
        <h1>Flora</h1>
        </div>
        
        <div class="section" id="Fauna">
        <h1>Fauna</h1>
        </div>
        
        <style>
        .section {
            height: 80vh;
           
        }
        body{
            margin: 0;
        }
        
        </style>
    
</body>
</html>